html{
  margin: 0px;
  padding: 0px;
  background: #000000;
}
@font-face{
  font-family: 'Conv_azoft-sans-bold-italic';
  src: url('fonts/azoft-sans-bold-italic.eot');
  src: url('fonts/azoft-sans-bold-italic.woff') format('woff'), 
  url('fonts/azoft-sans-bold-italic.ttf') format('truetype'), url('fonts/azoft-sans-bold-italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
body{
  font-size:12px;
  height: 100%;
  width: 35%;
  padding: 10px;
  margin: 10px auto;
  font-family: Helvetica, Arial, sans-serif;
  color: #000000;
  background:rgba(191,142,126,1);
  
background: linear-gradient(to bottom,
  rgba(191, 142, 126,1) 0%, 
  rgba(194, 114, 87,1) 100%);
}
  
#shipping_billing_form .fieldset_border{
  border-color:#b2B2B2;
  border-style: solid;
  border-radius: 8px;
  border-with:6px;
}
  
#shipping_billing_form .txtinput{
font-family:arial;
  font-family:SansationLight;
  font-size:11pt;
  font-weight:bold;
  background-color:336699;
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
  border-color: #3F251D;
  color:gray;
 height:20px ;
-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding-left: 40px;
  width: 40%;
  color: #777;
  cursor:pointer;
}
 
#shipping_billing .name{
  background: #fff no-repeat;
}
 
#shipping_billing_form  label{
  font-weight:bold;
  font-size:15px;
}
 
#shipping_billing_form .legend{
  font-size: 16px;
  font-family: 'Conv_azoft-sans-bold-italic',Helvetica, Arial, sans-serif;
}
 
#shipping_billing_form .heading{
  text-align:left;
  font-size: 18px;
  font-family: 'Conv_azoft-sans-bold-italic',Helvetica, Arial, sans-serif;
}
 
#shipping_billing_form .txtinput.textbox{
  width:89%;
}
  
#shipping_billing_form .txtinput.select{
  width:49%;
  color:#777777;
   height:25px ;
radius: 20px;-moz-border-radius: 10px;
  -webkit-border-
  -moz-border-radius: 20px;
  -webkit-border-
}
   
#shipping_billing_form .home_tel{
  background: #fff no-repeat;
  background-position-x: 1px;
  background-size: 29px 29px;
}
 
#shipping_billing_form .work_tel{
  background: #fff no-repeat;
  background-size: 27px 25px;
}
 
#shipping_billing_form .email{
  background: #fff no-repeat;
  width:44%;
}
  
#shipping_billing_form .div_outer_address{
  clear:both;
}
 
 legend {
    display: block; font-weight: bold; font-size: 1.25em;
    width: 40%; padding-bottom: 10px;
    text-shadow: 1px 1px 0px #fff;
}
 #shipping_billing_form .submit{
  text-align:center;
}
 
#shipping_billing_form #submit_btn{
  color:#ffffff;
  cursor:pointer;
  border-radius:5px;
  width: 20%;
  height: 100%;
  font-size: 21px;
  height:100%;
  box-shadow: 5px 5px 10px 5px #888888;
  background: rgb(149,149,149);

 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1)));
}

input:required:invalid, input:focus:invalid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
    background-position: right top;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
  }
input:required:valid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
    background-position: right top;
    background-repeat: no-repeat;
  }


